<%= render partial: 'layouts/banner', locals: { page: 'Dashboard', information: 'Welcome' } %>
<div class="container">
    <div class="content-page">
        
        <div class="content">

            <div class="container-fluid">

                <div class="row mt-3">

                    <div class="col-lg-3">

                        <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">

                            <div class="card">
                                <div class="card-header py-3">
                                    <i class="fas fa-tasks mr-2"></i>
                                    <span class="h6">Manage</span>
                                </div>
                                <div class="list-group list-group-sm list-group-flush">
                                    <%= link_to "Products", admin_products_path, class: 'list-group-item list-group-item-action d-flex justify-content-between' %>
                                    <%= link_to "Categories", admin_categories_path, class: 'list-group-item list-group-item-action d-flex justify-content-between' %>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-lg-9">

                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="fas fa-user-friends"></i>
                                        </div>
                                        <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Customers</h5>
                                        <h3 class="mt-3 mb-3"><%= @customers %></h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 5.27%</span>
                                            <span class="text-nowrap">Since last month</span>  
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="fas fa-cart-plus"></i>
                                        </div>
                                        <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">Orders</h5>
                                        <h3 class="mt-3 mb-3"><%= @order_count %></h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.08%</span>
                                            <span class="text-nowrap">Since last month</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="fas fa-dollar-sign"></i>
                                        </div>
                                        <h5 class="text-muted font-weight-normal mt-0" title="Average Revenue">Revenue</h5>
                                        <h3 class="mt-3 mb-3">$<%= @revenue %></h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 7.00%</span>
                                            <span class="text-nowrap">Since last month</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="fas fa-chart-line"></i>
                                        </div>
                                        <h5 class="text-muted font-weight-normal mt-0" title="Growth">Growth</h5>
                                        <h3 class="mt-3 mb-3">+ <%#= @growth %>%</h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 4.87%</span>
                                            <span class="text-nowrap">Since last month</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-4">Total Sales</h4>
                                        <div class="text-center">

                                            <h3 class="font-weight-normal text-primary mb-2">$<%= @total_sales %></h3>
                                            <p class="text-uppercase font-13 font-weight-bold">All Times</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card bg-primary">
                                    <div class="card-body">
                                        <h4 class="header-title text-white mb-4">Average Sale Size</h4>
                                        <div class="text-center">
                                            <h3 class="font-weight-normal text-white mb-2">$<%= @average_sale_size %></h3>
                                            <p class="text-light text-uppercase font-13 font-weight-bold">Per Sale</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-2">Top Selling Products</h4>
                                
                                <div class="table-responsive">
                                    <% Product.popular.each do |product| %>
                                        <table class="table table-centered table-hover mb-0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h5 class="font-14 mb-1 font-weight-normal"><%= product[0] %></h5>
                                                        <!-- <span class="text-muted font-13">07 April 2018</span> -->
                                                    </td>
                                                    <td>
                                                        <h5 class="font-14 mb-1 font-weight-normal">$<%= product[1] %></h5>
                                                        <span class="text-muted font-13">Price</span>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-14 mb-1 font-weight-normal"><%= product[2] %></h5>
                                                        <span class="text-muted font-13">Quantity</span>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-14 mb-1 font-weight-normal">$6<%= product[3] %></h5>
                                                        <span class="text-muted font-13">Amount</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>