<div class="col-lg-3 col-sm-6 mb-5">
    <div class="card card-product no-border shadow shadow--hover">
        <div class="card-image">    
        <%= link_to image_tag(product.image), product_path(product), alt: 'Image placeholder', class: 'img-center' %>
        
        </div>
        <div class="card-body pt-0 text-center">
            <%= link_to product.title, product, class: 'card-title' %>
            <span class="card-price"><%= product.price %> &euro;</span> 
        </div>
							
		<div class="container cart_icon">
            <%= form_with model: @order_product do |f| %>
				<%= f.hidden_field :product_id, value: product.id %>
				<%= f.button :submit, data: { toggle: 'tooltip', title: 'Add to cart' } do %>
                    <i class="fas fa-shopping-cart"></i>
                <% end %>
			<% end %>
		</div>

    </div>
</div>
