<div class="card-columns">
	<% @products.each do |product| %>
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="<%= product.image_url %>" alt="">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h3><%= product.title %></h3>
						<h4 class="text-secondary"><%= product.description %></h4>
						<h5 class="text-info"><%= product.price %></h5>
						<%= form_with model: @order_product do |f| %>
							<%= f.hidden_field :product_id, value: product.id %>
							<%= f.submit 'Add to cart', class: 'btn btn-info btn-sm' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
