<%= render partial: 'layouts/banner', locals: { page: 'Orders', information: 'Details' } %>

<div class="m-4">
	<% if @orders.any? %>
		<% @orders.each do |order| %>

			<strong><%= order.id %> - <%= order.created_at.strftime("%a, %b %d %Y at %I:%M%p") %></strong>
			<% order.products.each do |product| %>
				<div class="ml-4">
					<%= product.title %>
					<span class="text-secondary"><%= product.description %></span>
					<span class="text-primary"><%= product.price %></span>
				</div>
			<% end %>
			
		<% end %>
	<% else %>
		<h2 class="text-center">You have no order yet</h2>
	<% end %>
</div>