<header class="header-account-page bg-gradient-primary d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
                <div class="row align-items-center mb-4">
                    <div class="col-md-5 mb-4 mb-md-0">
                        <span class="h2 mb-0 text-white d-block">Shopping Cart</span>
                        <span class="text-light">Cart information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
	
<div class="m-4">
	<% if @orders.any? %>
		<% @orders.each do |order| %>

			<strong><%= order.id %> - <%= order.created_at.strftime("%a, %b %d %Y at %I:%M%p") %></strong>
			<% order.products.each do |product| %>
				<div class="ml-4">
					<%= product.title %>
					<span class="text-secondary"><%= product.description %></span>
					<span class="text-primary"><%= product.price %></span>
				</div>
			<% end %>
			
		<% end %>
	<% else %>
		<h2 class="text-center">You have no order yet</h2>
	<% end %>
</div>