<header class="header-account-page bg-gradient-primary d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
                <div class="row align-items-center mb-4">
                    <div class="col-md-5 mb-4 mb-md-0">
                        <span class="h2 mb-0 text-white d-block">Shopping Cart</span>
                        <span class="text-light">Cart information</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>



<section class="slice slice-lg">
    <div class="container">
        <!-- Shopping cart -->
        <div class="table-responsive">
            <table class="table align-items-center">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <% @order_products.each do |order_product| %>
                        <tr>
                            <td>
                                <div class="media align-items-center">
                                    <%= image_tag order_product.product.image, alt: 'Image placeholder', width: '80', class: 'mr-3' %>
                                    <div class="media-body">
                                        <div class="lh-100">
                                            <span class="text-dark font-weight-bold mb-0"><%= order_product.product.title %></span>
                                        </div>
                                        <span class="font-weight-bold text-muted"><%= order_product.product.description %></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="font-weight-bold"><%= order_product.unit_price %> &euro;</span>
                            </td>
                            <td>
                                <%= form_with model: order_product, url: order_product_path(order_product), method: :put do |f| %>
                                    <div class="row">
                                        <%= f.hidden_field :product_id, value: order_product.product.id %>
                                        <%= f.text_field :quantity, value: order_product.quantity, min: 1, class: 'form-control form-control-sm text-center', style: 'width: 80px' %>
                                        <%= f.submit 'Update', class: 'btn btn-sm btn-primary ml-1' %>
                                    </div>
                                    
                                <% end %>
                            </td>
                            <td>
                                <span class="font-weight-bold text-dark"><%= order_product.total_price %> &euro;</span>
                            </td>
                            <td class="text-right">
                                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, order_product_path(order_product), class: 'text-light', method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', original: {title: 'Remove item'} } %>
                            </td>
                        </tr>
                    <% end %>

                </tbody>
            </table>
        </div>

        <!-- Cart information -->
        <div class="mt-5 pt-5 delimiter-top">
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 text-center">
                    <h5 class="mb-0">Total: <%= @order.total %> &euro;</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-gradient-primary">
    <span class="tongue tongue-top">
        <i class="fas fa-angle-up"></i>
    </span>
    <div class="container text-center">
        <h6 class="text-white">Checkout or return to shop to add more items</h6>
        <%= button_to "Go to Checkout", checkout_create_path, params: { amount: current_order.total }, class: 'btn btn-white btn-circle mt-4', remote: true %>
    </div>
</section>