<p>
	<strong>Title:</strong>
	<%= @product.title %>
</p>
<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>
<p>
	<strong>Price:</strong>
	<%= @product.price %>
</p>

<% if @product.image.attached? %>
	<%= image_tag @product.image, alt: 'image' %>
<% else %>
	<p>=== Il n'y a pas encore d'image lié à ce produit ===</p>
<% end %>

<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>