<header class="slice pt-lg pb-4 bg-gradient-warning d-flex align-items-end">
    <div class="container pt-lg">
        <div class="row">
            <div class=" col-lg-12">
                <div class="row align-items-center mb-4">
                    <div class="col-lg-5 mb-4 mb-lg-0">
                        <span class="h2 mb-0 text-white d-block">Men fitness shirt</span>
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="#" class="text-normal">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="text-normal">Shop</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="text-normal">Men's clothing</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="slice slice-lg" id="sct-products">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Product gallery -->
                <div class="mb-5">
                    <%= image_tag @product.image, alt:"Image placeholder", class: 'img-fluid rounded shadow shadow-lg--hover' %>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="pl-lg-4">
                    <!-- Product title -->
                    <h2 class="h5 text-capitalize"><%= @product.title %></h2>

                    <!-- Rating stars -->

                    <span class="static-rating static-rating-sm">

                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star"></i>
                        
                    </span>


                    <!-- Product description -->
                    <div class="mt-4">
                        <small class="text-dark font-weight-bold d-block mb-2">Description:</small>
                        <p class="text-sm lh-150"><%= @product.description %></p>
                    </div>


                    <!-- Quantity -->
                    <div class="mt-4">
                        <small class="d-block font-weight-bold text-dark mb-2">Quantity</small>
                        <div class="d-flex">
                            <%= form_with model: @order_product do |f| %>
                                <div class="row">
                                    <%= f.hidden_field :product_id, value: @product.id %>
                                    <%= f.text_field :quantity, min: 1, placeholder: 'Qty', class: 'form-control text-center', style: 'width: 100px' %>
                                    <%= f.submit 'Add to cart', class: 'btn btn-primary ml-3' %>
                                </div>
                            <% end %>
                        </div>

                    </div>

                    <!-- Product info -->
                    <div class="mt-4">
                        <small class="d-block font-weight-bold text-dark">Maintaining</small>
                        <ul class="list-unstyled list-icon">
                            <li class="text-sm py-1">
                                <i class="fas fa-tshirt mr-3"></i>Exterior: 98% cotton, 2% elastane
                            </li>
                            <li class="text-sm py-1">
                                <i class="fas fa-air-freshener mr-3"></i>Machine wash up to 30&deg;/86&deg;F gentle cycle
                            </li>
                            <li class="text-sm py-1">
                                <i class="fas fa-charging-station mr-3"></i>Iron up to 110&deg;C/230&deg;F
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg delimiter-top" id="sct-suggested-products">
    <div class="container">
        <div class="mb-md text-center">
            <h5>Suggested products</h5>
            <div class="fluid-paragraph text-center mt-2">
                <p class="lead lh-180">Check out these special products that we think you might like</p>
            </div>
        </div>

        <div class="row">
            <%# @products.each do |product| %>
                <%#= render partial: 'home/card', locals: { product: product } %>
            <%# end %>
        </div>
    </div>
</section>
