<header class="header-transparent" id="header-main">
    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
        <div class="container">
            <%= link_to "Home", root_path, class: 'navbar-brand mr-lg-5' %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <% if user_signed_in? %>
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="nav-item ">
                            <%= link_to "My account", edit_user_registration_path, class: 'nav-link' %>
                        </li>

                        <li class="nav-item">
                            <%= link_to "Orders", orders_path, class: 'nav-link' %>
                        </li>
                    </ul>

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item">
                            <%= link_to 'Sign out <i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, class: 'nav-link', method: :delete %>
                        </li>
                        <li class="nav-item">
                            <% if current_user.admin %>
                                <%= link_to "Admin", products_path, class: 'nav-link' %>
                            <% end %>
                        </li>
                        <li class="nav-item mr-0">
                            <%= link_to cart_path, class: 'btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex' do %>
                                <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                                <span class="btn-inner--text">Cart</span>
                            <% end %>
                            </a>
                        </li>
                    </ul>

                <% else %>
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item">
                            <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item mr-0">
                            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
                        </li>
                    </ul>
                    
                <% end %>
            </div>
        </div>
    </nav>
</header>