<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/584ebf9207.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/flash' %>
    
    <%= render 'layouts/navbar' %>
    
    <%= yield %>
    
    <%= render 'layouts/footer' %>
    
    <script>

      $('#flashModal').modal('show');

      $('#wave').wavify({ height: 60, bones: 3, amplitude: 40, color: 'rgba(255, 255, 255, .2)', speed: .25 });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 50,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        freeMode: true,
        breakpoints: {
          640: {
            slidesPerView: 1,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
        }
      });
    </script>
  </body>
</html>
