<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/584ebf9207.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'layouts/navbar' %>
    <!-- or yield(:header)  -->
    <!-- puis content_for :header do dans la vue correspondante -->

    <% flash.each do |type, msg| %>
      <div class="alert alert-<%=type%>"><%= msg %></div>
    <% end %>    

    <%= yield %>
    
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
